.scale {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.3s ease-in-out; //부드러운 모션을 위해 추가
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.scale:hover {
  -webkit-transform: scale(5);
  -moz-transform: scale(5);
  -ms-transform: scale(5);
  -o-transform: scale(5);
  transform: scale(5);
}
.img {width:325px; height:280px; overflow:hidden } //이미지 사이즈